*{
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}


header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to left,#fff 80%, #c3f5ff 20%);
}

.rightside img{
	max-width: 230px;
	height: auto;
}


.navsection{
     width: 100%;
     height:20vh;
     background-image: linear-gradient(to top,#fff 80%, #c3f5ff 20%);
     display: flex;
     justify-content: space-around;
     align-items: center;
	

}



.logo{
	width: 40%;
	color: #fff;
	background-image: linear-gradient(#8d98e3  40%,#854fee 60%);
	padding-left: 100px;
	box-sizing: border-box;
}

.logo h1 {
	text-transform: uppercase;
	font-size: 1.6rem;
	animation: ageypichey 2s linear infinite;
   animation-direction: alternate;
}

@keyframes ageypichey {
	from{
		padding-left: 40px;
		padding-right: 40px;
	}
}


nav{
	width: 60%;
	
	display: flex;
	justify-content: space-around;
}


nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: 900;
	font-size: 17px;
	position: relative;

}


nav a:first-child{
	color: #4458dc;
}  

nav a:before{
	content: "";
	top:110% ;
	left:0 ;
	width: 0;
	height: 2px;
	border-bottom: 2px solid blue;
	position: absolute;
	transition: all .4s linear;
}

nav a:hover:before{
	width: 100%;

}


main{
	height: 80vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
} 



.rightside {
	border-radius: 100% 0% 63% 37% / 40% 38% 62% 60% ;
	background-color:RGBA(0,0,142,0.24);
	
}


.leftside {
	color: black;
	text-transform: uppercase;
	font-size: 25px;
/*	text-decoration: none;*/
}

.leftside h3:after{
	content: ""
	width:450px;


}


.leftside .btn1{

  
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    margin-left: 0px;
    margin-right: 15px;









background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)

}




.leftside .btn1:hover{
	 background-position: right center;
}



.leftside .btn2{
      margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)


}


.leftside .btn2:hover{
	 background-position: right center;
}

.leftside a{
	text-decoration: none;
}